.shearing {
  &--top {
    display: flex;
    flex-direction: column;

    &__content-container {
      display: flex;
    }

    &__img-container {
      flex: 1;
      text-align: center;
      margin: 0 10px;
    }

    &__img {
      width: 100%;
      height: auto;
      max-width: 650px;
    }

    &__list {
      flex: 1;
    }
  }

  &--middle {
    &__content-container {
      display: flex;
    }

    &__content {
      margin-right: 5px;
      flex: 1;
    }

    &__img-container {
      flex: 1;
      text-align: center;
      margin: 0 10px;
    }

    &__img {
      width: 100%;
      height: auto;
    }
  }

  &--bottom {
    display: flex;

    &__left,
    &__right {
      flex: 1;
    }
  }
}

@media only screen and (max-width: 700px) {
  .shearing {
    &--top {
      &__img-container {
        margin: 10px 0;
      }
    }

    &--middle {
      &__img-container {
        margin: 10px 0;
      }
    }
  }
}
