.shearing-div {
  background: url("../src/imgs/shearing-div.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 250px;
}

.shearing {
  max-width: 90vw;
  margin: 0 auto;
  padding-bottom: 20px;

  &--top {
    display: flex;
    flex-direction: column;

    &__content-container {
      display: flex;
    }

    &__img-container {
      flex: 1;
      text-align: center;
    }

    &__img {
      width: 100%;
      height: auto;
      max-width: 650px;
    }

    &__list {
      flex: 1;
    }

    &__blockquote {
      display: inline-block;
      background: #f9f9f9;
      border-left: 10px solid #ccc;
      margin: 1.5em 0px;
      padding: 0.5em 10px;

      p {
        margin: 0;
      }
    }
  }

  &--middle {
    &__content-container {
      display: flex;
    }

    &__content {
      margin-right: 5px;
      flex: 1;
    }

    &__img-container {
      margin-left: 5px;
      flex: 1;
      text-align: center;
    }
  }

  &--bottom {
    display: flex;

    &__left,
    &__right {
      flex: 1;
    }
  }
}
