@import "./styles/00_Header.scss";
@import "./styles/01_Hero.scss";
@import "./styles/02_About.scss";
@import "./styles/03_Shearing.scss";

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
}

.divider {
  height: 250px;

  &.shearing-div {
    background: url("../src/imgs/shearing-div.jpg") no-repeat fixed center;
  }

  &.pricing-div {
    background: url("../src/imgs/pricing-div.jpg") no-repeat fixed center;
  }

  &.shearing-div,
  &.pricing-div {
    background-size: cover;
  }
}
