@import url("https://fonts.googleapis.com/css?family=Bitter|Dancing+Script:700|Lato");
@import "./styles/00_Header.scss";
@import "./styles/01_Hero.scss";
@import "./styles/02_About.scss";
@import "./styles/03_Shearing.scss";
@import "./styles/04_Pricing.scss";

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
}

h2,
h3 {
  font-family: "Bitter", serif;
  color: #444;
}

p,
ul,
ol {
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  color: #888;
}

ul,
ol {
  line-height: 1.5;
  margin: 0;
  padding-left: 25px;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 3em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.4em;
}

.component-container {
  max-width: 980px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.divider {
  height: 250px;

  &.shearing-div {
    background: url("../src/imgs/shearing-div.jpg") no-repeat fixed center;
  }

  &.pricing-div {
    background: url("../src/imgs/pricing-div.jpg") no-repeat fixed center;
  }

  &.shearing-div,
  &.pricing-div {
    background-size: cover;
  }
}

blockquote {
  display: inline-block;
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 0px;
  padding: 0.5em 10px;

  p {
    margin: 0;
  }
}
